/* 
UCCD2323 FRONT-END WEB DEVELOPMENT

Chen Jin Shen	2202076
Chin Whye Ting	2200559
Chong Jun Hao	2301368
Ong Jing Yang	2200327

If it ain't broke
Never fix it
- Confucius 2023A
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/landscape-2.jpg);
  background-size: cover;
  background-position: center;
}

@keyframes slideInnav {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateX(0);
  }
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  z-index: 1;

  animation: slideInnav 1s ease-in 1s 1 normal both;
}

.navbar h1 {
  color: #fff;
  font-weight: 200;
  margin-right: auto;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #586285;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px 20px 20px 50px;
  display: flex;
  flex-direction: column;
}

@keyframes slideInimg {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(0);
  }
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 24px;

  animation: slideInimg 1s ease-in 1ms 1 normal both;
}

@keyframes slideIntxt {
  from {
    transform: translateX(500px);
  }

  to {
    transform: translateX(0);
  }
}

.text h2 {
  color: #fff;
  font-size: 80px;
  line-height: 1.0;
  margin-top: 130px;

  animation: slideIntxt 1s ease-in 1ms 1 normal both;
}

.text p {
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 140px;
  text-align: justify;

  animation: slideIntxt 1s ease-in 1ms 1 normal both;
}

/* Responsive Navigation Bar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(22, 27, 38, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar ul li {
  list-style: none;
  text-align: center;
  height: 10%;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

/* Hide Responsive Navigation Bar In Full Size */
.navbar .menu {
  display: none;
}

/* Responsive Website */
@media screen and (max-width: 510px) {
  .navbar ul li {
    display: none;
  }

  .navbar .sidebar {
    display: block;
  }

  .navbar img {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar .menu {
    display: block;
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 40px;
    left: 40px;
    border: none;
    cursor: pointer;
  }

  .navbar h1 {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .left-section {
    flex: 0;
    padding: 20px 35px 20px;
  }

  .right-section {
    flex: 1;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
  }

  .text h2 {
    font-size: 40px;
    margin-top: 1px;
  }

  .text p {
    font-size: 12px;
    margin-top: 20px;
  }
}